:root{
    --primary-bg: rgb(64, 99, 255);
    --prime-text-color: white;
}

header{
    background-color: var(--primary-bg);
    text-align: center;
}

header h1{
    color: var(--prime-text-color);
}

nav{
    font-size: 20px;
}

.nav-link{
    text-decoration: none;
    color: var(--prime-text-color);
}

nav a:hover{
    color: var(--primary-bg);
}

#logout{
    background: none;
    border: none;
    padding-bottom: 0;
    color: var(--prime-text-color);
}

#logout:hover{
    color: var(--primary-bg);
}

/* Cards */
.card{
    width: 25rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card img{
    justify-content: center;
}

.card-text{
    margin-left: 5px;
    margin-right: 5px;
}

.card-header{
    background-color: var(--primary-bg);
    color: var(--prime-text-color);
    text-align: center;
}

.card-header-link{
    color: var(--prime-text-color);
    text-decoration: none;
}

#post-by, #comments-count{
    font-size: 14px;
}

#comment-btn{
    margin-bottom: 20px;
}